<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>HTML Skeleton</title>
    <style>
      input{
        margin: 8px;
      }
    </style>
    <!-- <link rel="shortcut icon" type="image/png" href="/favicon.png"/> -->
    <!-- <link rel="stylesheet" href="css/main.css"/> -->
    <!-- <link rel="icon" href="images/favicon.png"/> -->
  </head>

  <body>
    <!-- <script src="js/main.js"></script> -->
    <div style="width: 200px; margin: 80px auto;">
    <div style="height: 100px"></div>
    <form action="http://localhost:3000/api/newpassword" method="post" style="width: 200px">
        <input type="text" id="token" name="token" class="form-control" style="display: none">
        <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
        <input id="re_pwd" type="password" class="form-control" placeholder="Re Password" required>
        <input type="submit" id="reset" style="margin: auto; display: block;" class="btn btn-primary" value="Reset Password">
    </form>
  </div>
  </body>
  <script>
    // Script to check if the two password entered match
    let password = document.getElementById('password');
    let re_password = document.getElementById('re_pwd');
    let register = document.getElementById('reset');

    re_password.addEventListener('input', ()=>{
      if (password.value !== re_password.value) {
        password.style.borderColor = 'red';
        re_password.style.borderColor = 'red';
        register.disabled = true;
      }else{
        password.style.borderColor = 'green';
        re_password.style.borderColor = 'green';
        register.disabled = false;
      }
    })

    // function to get params from the URL
    function parseURLParams(url) {
        var queryStart = url.indexOf("?") + 1,
            queryEnd   = url.indexOf("#") + 1 || url.length + 1,
            query = url.slice(queryStart, queryEnd - 1),
            pairs = query.replace(/\+/g, " ").split("&"),
            parms = {}, i, n, v, nv;

        if (query === url || query === "") return;

        for (i = 0; i < pairs.length; i++) {
            nv = pairs[i].split("=", 2);
            n = decodeURIComponent(nv[0]);
            v = decodeURIComponent(nv[1]);

            if (!parms.hasOwnProperty(n)) parms[n] = [];
            parms[n].push(nv.length === 2 ? v : null);
        }
        return parms;
    }

    urlParams = parseURLParams(window.location.href);
    document.getElementById('token').value = urlParams.token;
    console.log(document.getElementById('token').value);

  </script>
</html>
