
* {
  box-sizing: border-box;
}

body {
  font-family:sans-serif;
  margin: 25px;
/*   color: #222; */
/*   background-color: #f5f5f5; */
}

h1 {
  font-weight: bold;
  
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  border: solid 1px #ccc;
  width: 100%;
  max-width: 540px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
}

/* input {
  display: block;
  margin-bottom: 10px !important;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
} */

.mytext{
  text-align: center;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}

textarea{
  margin-bottom: 10px !important;
}
code {
  font-family: monospace;
  font-size: 1.2em;
  padding: 2px;
}
h1{
  text-align: center;
  margin-top: 20px;
}
.myform{
  display: flex;
  flex-direction: column;
  max-width: 640px;
}
p{
  text-align: center;
}
.moment{
  max-width: 680px;
  margin: 15px auto;
}

.card {
  position: relative;
  background: #eb7070 !important;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}